.whiteboard {

    .excalidraw-wrapper {
        height: 100vh;
        width: 100vw;
    }
}

.whiteboard-container {
    position: absolute;
    z-index: 10; // Higher than video container (z-index: 1) to ensure it appears above
    left: 0;
    top: 0;
}

.whiteboard-container .excalidraw-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}
